# SOURCES ---------------
Sources/SGCore/UI/*Generated/
.SG_GENERATED
# -----------------------

# BUILD ---------------
**/cmake-build-debug/
**/cmake-build-release/
**/release-test/
# ---------------------

# RESOURCES -------------
Resources/SGResources/models/test
# -----------------------

# EDITOR ---------------
.vs
.idea
.vscode
# -----------------------

# CMAKE -----------------
CMakeSettings.json
# -----------------------
