.window-default {
    display: flex;
    flex-direction: row;

    width: 100px;
    height: 100px;
    background-color: rgba(10 100 10 / 255);
}

.text-box:hover {
    background-color: rgba(100 100 10 / 255);
    border-radius: 20px;
    width: 200px;
}

.text-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-radius: 5px / 20px;

    padding: 10px;

    width: 100px;
    height: auto;
    background-color: rgba(100 10 10 / 255);
}

.window-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    height: auto;
    background-color: rgb(0 100 100 / 255);
    gap: 10px;
    padding: 10px;

    border-radius: 20px / 60px;
}

.test-text-0 {
    font-family: "Times New Roman", "JetBrains Mono";
    font-size: 16px;
}

.test-text-1 {
    font-family: "JetBrains Mono", "Times New Roman";
    font-size: calc(40px);
}

.window-header-1 {
    width: 10px;
    height: 100px;
    background-color: rgb(0 100 0 / 255);
    gap: 10%;
    padding: 5px;

    border-radius: 0px;
}

.window-header-test {
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: rgb(255 0 100 / 255);

    gap: 0px;
    padding: 10px;

    border-radius: 0px / 0px;
}

.window-body, .class1 {
    display: flex;
    flex-direction: row;
}

.window-footer {
    display: flex;
    flex-direction: row;
}
